* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color: rgb(202, 236, 255);
}

body::-webkit-scrollbar {
    width: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(3, 56, 87);
    color: white;
    font-size: 35px;
    padding: 20px 40px;
}

#loading {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    display: none;
    border: 6px solid #b4b4b4;
    border-right: 6px solid rgb(3, 56, 87);
    border-radius: 100%;
    animation: loading 0.8s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#currentConditions {
    width: 40%;
    padding: 20px;
    display: flex;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 10px;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    display: none;
    cursor: pointer;
}

#currentConditions #box1 {
    display: flex;
    align-items: center;
    gap: 60px;
}

#currentConditions #box1 h1 {
    margin-bottom: 15px;
}


#currentConditions #box1 p {
    font-size: 18px;
}

#currentConditions #box2 p {
    line-height: 2em;
}

#weatherBox {
    width: 90%;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5%;
}

#dayWeatherBox {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5%;
}

#h2 {
    margin: 30px 0;
    font-size: 35px;
}

#weatherBox .weather {
    min-width: 198px;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: 0.3s;
}

#weatherBox .weather:hover {
    background-color: #eeeeee;
    transform: translateY(-2px);
}

#weatherBox .weather p {
    font-size: 18px;
}

#msg {
    margin-top: 3%;
    font-size: 40px;
    font-weight: bold;
}

#cityName {
    margin-left: 5%;
    font-size: 40px;
    font-weight: bold;
    align-self: flex-start;
}

#inputbox {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#inputbox input {
    height: 50px;
    width: 50%;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    border: none;
    border-radius: 60px;
}


#btn {
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: #f5532b;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#location {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: 0.8;
}

#location:hover {
    transform: translateY(-2px);
}

#viewBox {
    display: flex;
    align-items: center;
}

#viewBox select {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 10px;
    background-color: #fff;
}

#suggestionBox {
    width: 30%;
    max-height: 50%;
    margin-left: 2.3%;
    background-color: #fff;
    padding: 10px;
    display: none;
    border-radius: 0 0 15px 15px;
}

#suggestionBox div {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#suggestionBox div:hover {
    background-color: #e6e5e5;
}

#alerts {
    font-size: 30px;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 1%;
}

.alert {
    color: red;
}

#popup {
    width: 90%;
    border-radius: 8px;
    top: 30%;
    /* bottom: 20px; */
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 1;
    margin: 3%;
    gap: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#popup p {
    font-size: 20px;
    line-height: 2em;
}

#popup b,
h1 {
    color: rgb(3, 56, 87);
}

#popup h2 {
    margin-left: 98%;
    cursor: pointer;
    display: inline-block;
}

#hours {
    display: flex;
    flex-wrap: wrap;
}

#hours p {
    font-size: 16px;
}

#hours .hour {
    width: 180px;
    height: 90px;
    text-align: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-right: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}

#hours .hour:hover {
    background-color: #eeeeee;
    transform: translateY(-2px);
}