*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containor{
    width: 350px;
    background-color: #888;
    padding: 20px;
    border-radius: 10px;

    /* display: flex;
    flex-direction: column;
    justify-content: end; */
    /* align-items: end; */
}

.input{
    width: 97%;
    padding-left: 10px;
    margin-bottom: 30px;
}

.input input{
    width: 100%;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    background: #ecf0f1;
    font-size: 28px;
    text-align: right;
    padding-right: 10px;
}

#buttons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#buttons button{
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #243342;
    font-size: 22px;
    color: white;
    cursor: pointer;
}


.input input:hover{
    border: 2px solid rgb(53, 53, 53);
}

#buttons button[value='='] {
  background-color: #b44033;
}