* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containor {
    border: 1px solid black;
    width: 25%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(241, 247, 255);
}

#containor h1 {
    margin-bottom: 15%;
}

form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

form div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 20px;
}

form div input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 20px;
    padding: 0 5px;
    background: transparent;
}

form p {
    width: 75%;
    padding: 0 10px;
    text-align: left;
    font-size: 14px;
    margin-left: 130px;
    color: red;
}

#captchaBox {
    width: 30%;
    height: 15%;
    background-color: #e7e4e4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#invalid {
    color: red;
    font-size: 18px;
    margin: 10px;
    margin-left: 40px;
}

#btn {
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: rgb(74, 197, 74);
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    cursor: pointer;
}